.jumbotron {
  background: url('/assets/cover.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
}
.banner {
  background: url('/assets/banner.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
}

h1, h2 {
  text-align: right;
  margin-top:100px;
}

img {
  width: 140px;
  height: 140px;
}

.col-md-4 {
  text-align: center;
}

.col-md-4 > h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.col-md-3 {
  text-align: center;
  margin-top: 10px;
}

.col-md-3 > h3 {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

.container > h1 {
  color: #203d3b;
  font-size: 9em;
  font-weight: 600;
  text-shadow: 1px 1px #c2c1bd;
}

.container > h2 {
  font-size: 3em;
  color: #c2c1bd;
  text-shadow: 2px 2px #564D49;
}

.icons {
  background-color: gainsboro;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 40px;
  border-bottom: 1px solid #768f8d;
}

.icons > p {
  font-size: 2em;
}

.team {
  background-color: whitesmoke;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-heading {
  height: 125px;
  border-top: 1px solid #768f8d;
  text-align: center;
  vertical-align: middle;
  background-color: gainsboro;
}

.section-heading.alt {
  background-color: whitesmoke;
}

.section-heading > p {
  font-size: 2.4em;
  padding-top: 25px;
  color: #561e07;
}

.main-image {
  top: 45px;
  margin-bottom: 0px;
}

.well {
  width: 200px;
  height: 300px;
}

.profile {
  margin-top: 60px;
}

.profile .profile-image {
  display: inline-block;
  width: 60%;
  height:120%;
  z-index: 1;
  position: relative;
  padding: 8px;
  border: 2px solid #70D6CF;
}

.profile .profile-image img {
  max-width: 100%;
}

.profile .profile-header {
  background-color: gainsboro;
}

.profile-events {
  margin-top: 60px;
}

.profile figcaption {
  width: 100%;
  background-color: #203D3B;
  color: #fff;
  padding: 125px 25px 25px;
  margin-top: -100px;
  display: inline-block;

}

.profile h3, .profile h4{
  margin: 0 0 5px;
}

.profile h3 {
  font-weight: 500;
}

.profile h4 {
  text-align: left;
  margin-left: 5px;
  color: #777;
}

.userList {
  margin-top: 30px;
}

.middle {
  margin: 50px auto;
  text-align: center;
  width: 50%;
}

#map {
  height: 100%;
}

.pac-container {
  font-family: Roboto;
}

.pac-container {
    background-color: #FFF;
    z-index: 2000;
    position: fixed;
    display: inline-block;
    float: left;
}

.card-img {
  height: 180px;
  width: 100%;
}
