@import url('https://fonts.googleapis.com/css?family=Quattrocento|Quicksand');

body {
  font-family: 'Quattrocento', serif;
}

.jumbotron {
  background: url('/assets/cover2.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
}
.banner {
  background: url('/assets/banner.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
  padding-top: 200px;
}

.banner h1 {
  color: white;
  margin-top: 40px;
  padding-right: 20px;
  font-size: 4em;
}

h1{
  text-align: right;
  margin-top:80px;
}
h2 {
  text-align: right;
  margin-top:20px;
}

img {
  width: 140px;
  height: 140px;
}

/*Columns*/
.col-md-4 {
  text-align: center;
}

.col-md-4 > h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.col-md-3 {
  text-align: center;
  margin-top: 10px;
}

.col-md-3 > h3 {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

.container > h1 {
  font-family: 'Quicksand', sans-serif ;
  color: #004D40;
  font-size: 9em;
  font-weight: 600;
  text-shadow: 1px 1px #c2c1bd;
}

.container > h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  color: #546E7A;
  text-shadow: 2px 2px #c2c1bd;
}

.icons {
  background-color: #CFD8DC;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 40px;
}

.icons > p {
  font-size: 2em;
}

.team {
  background-color: #ECEFF1;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-heading {
  height: 125px;
  text-align: center;
  vertical-align: middle;
  background-color: #CFD8DC;
}

.section-heading.alt {
  background-color: #ECEFF1;
}

.section-heading > p {
  font-size: 2.4em;
  padding-top: 25px;
  color: #561e07;
}

.main-image {
  top: 45px;
  margin-bottom: 0px;
}

.well {
  width: 200px;
  height: 300px;
}

.profile {
  margin-top: 60px;
}

.profile .profile-image {
  display: inline-block;
  width: 220px;
  height: 220px;
  z-index: 1;
  position: relative;
  border: 5px solid gainsboro
}

.profile .profile-image img {
  width: 100%;
  height: 100%;
}

.profile .profile-info {
  height: 100%;
  width: 220px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile .profile-header {
  background-color: gainsboro;
  text-align: left;
  padding-left: 5px;
}

.profile-events {
  margin-top: 60px;
}

.profile figcaption {
  width: 100%;
  background-color: #203D3B;
  color: #fff;
  padding: 125px 25px 25px;
  margin-top: -100px;
  display: inline-block;

}

.profile h3, .profile h4{
  margin: 0 0 5px;
}

.profile h3 {
  font-weight: 500;
}

.profile h4 {
  text-align: left;
  margin-left: 5px;
  color: #777;
}

.userList {
  margin-top: 30px;
  width: 95%;
}

.middle {
  margin: 50px auto;
  text-align: center;
  width: 50%;
}

#map {
  height: 100%;
}

.pac-container {
  font-family: Roboto;
}

.pac-container {
    background-color: #FFF;
    z-index: 2000;
    position: fixed;
    display: inline-block;
    float: left;
}

.card-img {
  height: 180px;
  width: 100%;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}

.primary-footer {
  background-color: rgb(0, 77, 64);
  color: #ECEFF1;
  font-size: 14px;
  padding: 44px 15px;
}

.primary-footer a {
  color: #ECEFF1;
}

.primary-footer a:hover {
  color: #70D6CF;
  text-decoration: none;
}

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  cursor: pointer;
}

.nav li:last-child {
  margin-right: 0;
}

.img-circle {
  cursor: pointer;
}
