.jumbotron {
  background: url('/assets/cover.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
}

h1, h2 {
  text-align: right;
  margin-top:100px;
}

img {
  width:140px;
  height: 140px;
}

.col-md-4 {
  text-align: center;
}

.col-md-4 > h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.col-md-3 {
  text-align: center;
  margin-top: 10px;
}

.col-md-3 > h3 {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

.container > h1 {
  color: #203d3b;
  font-size: 9em;
  font-weight: 600;
  text-shadow: 1px 1px #c2c1bd;
}

.container > h2 {
  font-size: 3em;
  color: #c2c1bd;
  text-shadow: 2px 2px #564D49;
}

.icons {
  background-color: gainsboro;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-bottom: 40px;
  border-bottom: 1px solid #768f8d;
}

.icons > p {
  font-size: 2em;
}

.team {
  background-color: whitesmoke;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-heading {
  height: 125px;
  border-top: 1px solid #768f8d;
  text-align: center;
  vertical-align: middle;
  background-color: gainsboro;
}

.section-heading.alt {
  background-color: whitesmoke;
}

.section-heading > p {
  font-size: 2.4em;
  padding-top: 25px;
  color: #561e07;
}

.main-image {
  margin-bottom: 0px;
}

.well {
  width: 200px;
  height: 300px;
}

.profile .profile-image {
  display: inline-block;
  width: 60%;
  height:120%;
  z-index: 1;
  position: relative;
  padding: 8px;
  border: 2px solid #70D6CF;
  margin-top: 20px;
}

.profile .profile-image img {
  max-width: 100%;
}

.profile figcaption {
  width: 100%;
  background-color: #203D3B;
  color: #fff;
  padding: 125px 25px 25px;
  margin-top: -100px;
  display: inline-block;

}

.profile h3, .profile h4{
  margin: 0 0 5px;
}

.profile h3 {
  font-weight: 600;
}

.profile h4 {
  color: #777;
}

.userList, .profile {
  margin-top: 100px;
}

.middle {
  margin: 50px auto;
  text-align: center;
  width: 50%;
}

#map {
  height: 100%;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

.pac-container {
    background-color: #FFF;
    z-index: 2000;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
}
.modal-backdrop{
    z-index: 10;
}​